body {    
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  font-family: googleSans;
  -webkit-tap-highlight-color: transparent
}

.logo{
  /* position:absolute; */
  margin:2%;
  margin-right:1%;
  width: 4%;   
}

.lp{
	display:flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	width:100%;
	height:100%;
}

.two{
	display:flex;
	flex-direction: column;
	justify-content: top;
	text-align: center;
	width:100%;
	height:100%;
}

.head{
	font-family: googleSans;
	font-size: 70px;
	color: rgb(97, 97, 97);
	padding-top:90px;
}

.heading{
	font-family: googleSans;
	color: rgb(97, 97, 97);
	font-size: 25px;
}
.foot{
	font-family: googleSans;
	font-size: 28px;
	color: rgb(97, 97, 97);
	line-height:45px;
	padding-top: 50px;
	font-style: italic;
}

.lpInps{
	padding-bottom: 50px;
}
.begin{
	font-family: googleSans;
	font-size: 50px;
	color: rgb(39, 39, 39);
	font-style: italic;
	padding-bottom:40px;
	padding-left:50px;
	padding-right:50px;
}

.green-text{
	font-family: googleSans;
	font-size: 50px;
	color: rgb(72, 141, 76);
	padding-top:60px;
	padding-bottom:40px;
}
/* progress bar */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@300&display=swap');

* {
box-sizing: border-box;
}

:root {
font-size: 62.5%;

--bar-color: rgb(72, 141, 76);
--body-color: #222;
--text-color: white;
--bar-wrap-back-color: rgba(211,233,215);
}


.container {
width : 100%;
padding-left:50%;
padding-right:2%;
margin: 0 auto;
position:absolute;
z-index: 20;
}

.bar-wrap {
margin-top: 0px;
border-radius: 100px;
/* background-color: var(--bar-wrap-back-color); */
background: repeating-linear-gradient(
  90deg,
  rgb(189, 219, 195),
  rgb(189, 219, 195) 50px,
  rgba(211,233,215) 50px,
  rgba(211,233,215) 100px
);
}

.bar {
width: 0%;
height: 20px;

transition: width .5s ease-out;

background-color: var(--bar-color);
border-radius: 100px;
/* box-shadow: inset -1px -1px 10px rgb(0 0 0 / .5); */
}

.line {
margin: 0;

font-size: clamp(1.4rem, 2.5vw, 1.8rem);

color: var(--text-color);
}

.number {
margin-left: 8px;

font-family: 'googleSans';
font-size: clamp(1.8rem, 3vw, 2.2rem);
}

@font-face {
font-family: googleSans;
src: url(fonts/GoogleSans-Regular.ttf)
}

@font-face {
font-family: googleSansBold;
src: url(fonts/GoogleSans-Bold.ttf)
}

/* dropdown menu */

.regionSelector {
position:absolute;
z-index:100;
left: 52%;
top: 90%;
transform: translate(-50%, -50%);
/* padding: 10px; */
font-family: googleSans;
font-size: 50px;
/* opacity:0; */
transition: 0.3s all ease-in;
overflow-y: scroll;
max-height: 85%;
}

.regionSelector.expanded {
	position:absolute;
	z-index:100;
	left: 52%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* padding: 10px; */
	font-family: googleSans;
	font-size: 50px;
	/* opacity:0; */
	/* transition: 0s all ease-in-out; */
	}

	.buttonReg{
		/* position: absolute; */
		align-self: center;
		height: 70px;
		width: 220px;
		margin: 15px;
		border-radius: 10px;
		border: none;
		color: #4285f4;
		outline: none;
		background-color: #cde4f5;
		white-space: nowrap;
		font-family: googleSans;
		font-size: 40px;


		margin-left:30%;
		}
		

.button{
height: 70px;
width: 220px;
margin: 15px;
border-radius: 10px;
border: none;
color: #4285f4;
outline: none;
background-color: #cde4f5;
white-space: nowrap;
font-family: googleSans;
font-size: 40px;
margin-left:30%;
}

.dropdown-el {
min-width: 12em;
position: relative;
display: inline-block;
min-height: 2em;
max-height: 2em;
overflow: hidden;
cursor: pointer;
text-align: center;
white-space: nowrap;
color: #444;
outline: none;
border-radius: 1em;
background-color: #cde4f5;
transition: 0.3s all ease-in-out;
}
.dropdown-el input:focus + label {
background: #def;
}
.dropdown-el input {
width: 1px;
height: 1px;
display: inline-block;
position: absolute;
opacity: 0.01;
}
.dropdown-el label {
border-top: 0.06em solid #d9d9d9;
display: block;
height: 2em;
line-height: 2em;
cursor: pointer;
position: relative;
transition: 0s color ease-in-out;
}
.dropdown-el label:nth-child(2) {
margin-top: 2em;
border-top: 0.06em solid #d9d9d9;
}
/* .dropdown-el input:checked + label {
display: block;
border-top: none;
position: absolute;
top: 0;
width: 100%;
} */
.dropdown-el input:checked + label:nth-child(2) {
margin-top: 0;
position: relative;
}
.dropdown-el::after {
content: "";
position: absolute;
right: 0.8em;
top: 0.9em;
border: 0.3em solid #3694d7;
border-color: #3694d7 transparent transparent transparent;
transition: 0.4s all ease-in-out;
}
.dropdown-el.expanded {
border: 0.06em solid #3694d7;
background: #fff;
border-radius: 0.25em;
padding: 0;
box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
max-height: 85%;
}
.dropdown-el.expanded label {
border-top: 0.06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
color: #3694d7;
}
.dropdown-el.expanded input:checked + label {
color: #3694d7;
}
.dropdown-el.expanded::after {
transform: rotate(-180deg);
top: 0.55em;
}

/* computer selector */

.inputFieldP {
position:absolute;
z-index:100;
left: 50%;
top: 55%;
transform: translate(-50%, -50%);

}

.box{
  
}

.inputField {
position:relative;
font-family: googleSans;
font-size: 50px;
color: #4285f4;
border: none;
outline: none;
background-color: #cde4f5;
border-radius: 10px;
padding: 4px;
text-align: center;
height: 100px;
}

.buttonComp{
height: 100px;
width: 240px;
margin: 25px;
border-radius: 10px;
border: none;
color: #4285f4;
outline: none;
background-color: #cde4f5;
white-space: nowrap;
font-family: googleSans;
font-size: 40px;
position: absolute;
top: 140%;
left:45%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.buttonComp:active{
	background-color: #68ade2;
}

.button:active{
	background-color: #68ade2;
}



/* slider */

.sc{
	top:50%;
	left:50%;
	-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
position: absolute;


display: none;
}

.te{
display: flex; 
justify-content: center;
align-items:center;
flex-direction: column;
}

.buttonPerc{
	align-self: center;
	height: 100px;
	width: 240px;
	margin-top: 0px;
	border-radius: 10px;
	border: none;
	color: #4285f4;
	outline: none;
	background-color: #cde4f5;
	white-space: nowrap;
	font-family: googleSans;
	font-size: 40px;
	padding:0px;
	/* position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 54%;
	left: 47%; */
	}
.buttonPerc:active{
	background-color: #68ade2;
}
/**
 * Range Slider Container
 */
 .range-slider-container {
	z-index:100;
}

/**
 * Range Slider Block
 */
.range-slider-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

/**
 * Range Sliders
 */
.range-sliders {
	width: 100%;
	background-color: transparent;

}

.range-sliders > *:not(:last-child) {
	margin-bottom: 1.5rem;
}

.range-sliders input[type=range] {
	width: 100%;
	background: linear-gradient(to right, #f00 0%, #f00 50%, rgba(255, 255, 255, 0.521) 50%, rgba(255, 255, 255, 0.521) 100%);
	border-radius: 15px;
	height: 90px;
	outline: none;
	-webkit-appearance: none;
	box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
}

.range-sliders input[type=range]:focus {
	outline: none;
}

.range-sliders input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 0px;
	cursor: pointer;
	box-shadow: none;
	background-color: rgba(255,255,255);
	border-radius: 0;
}

.range-sliders input[type=range]::-moz-range-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	box-shadow: none;
	background-color: rgba(255,255,255);
	border-radius: 0;
}

.range-sliders input[type=range]::-webkit-slider-thumb {
	box-shadow: none;
	height: 90px;
	width: 35px;
	border-color: transparent;
	padding-right: 70px;
	background: linear-gradient(90deg, rgba(211,233,215) 0%, rgba(211,233,215) 20%, rgba(88,168,92,1) 20%, rgba(88,168,92,1) 80%, rgba(255,255,255) 80%);
	cursor: ew-resize;
	-webkit-appearance: none;
  	margin-top: -45px;
	border-radius: 14px;
	
}

.range-sliders input[type=range]::-moz-range-thumb {
	box-shadow: none;
	height: 91px;
	width: 35px;
	
	border-color: transparent;
	background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(8,7,106,0) 20%, rgba(88,168,92,1) 20%, rgba(88,168,92,1) 80%, rgba(9,121,20,0) 80%);
	cursor: ew-resize;
	-webkit-appearance: none;
  margin-top: -45px;
}

.range-sliders input[type=range]::-moz-focus-outer {
	border: 0;
}

.range-sliders input[type=range].range-slider-green {
	background: linear-gradient(to right, rgba(211,233,215) 0%, rgba(211,233,215) 50%, #fff 50%, #fff 100%);
}

.range-sliders input[type=range].range-slider-green::-webkit-slider-runnable-track {
	background-color: rgba(211,233,215);
}

.range-sliders input[type=range].range-slider-green::-moz-range-track {
	background-color: rgba(211,233,215);
}

.range-sliders input[type=range].range-slider-green::-webkit-slider-thumb {
	/* background-color: rgba(88, 168, 92); */
}

.range-sliders input[type=range].range-slider-green::-moz-range-thumb {
	/* background-color: rgba(88, 168, 92); */
}

.range-sliders .input-slider {

margin-left: -300px;
-moz-appearance: textfield;
  font-family: 'googleSans';
  border: none;
  position: absolute;
  background-color: transparent;
  font-size: 50px;
  width:100%;
  overflow: visible;
  color: rgb(68, 129, 72);
  pointer-events: none;
}
.percent {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'googleSans';
  border: none;
  position: absolute;
  background-color: transparent;
  font-size: 50px;
  overflow: visible;
  color: rgb(68, 129, 72);
  margin-left: -230px;
  pointer-events: none;
  background: none !important;
}

.range-sliders .input-slider::-webkit-outer-spin-button,
.range-sliders .input-slider::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.range-sliders .range-slider-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center; 
	justify-content: center;
	text-align: left;
}

.range-sliders .range-slider-group .range-label {
	width: 100%;
	font-size: 1rem;
	right:80%
}

.range-sliders .range-slider-group .range-slider {
	width: calc(100% - 60px);
}

.range-sliders .range-slider-group .input-slider {
	width: 150px;
}
@media (min-width: 576px) {

	.range-sliders {
		width: 650px;
		padding: 3rem;
	}
}



.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

/* 
 * Hide the inputs. 
 */

 .rad {
	display: none;
  }
  
  
  /*
   * Then, style the label so it looks like however you want.
   * Here's a quick rundown of how I did it here:
   */
  
  
  /*
   * Some basic positioning styles, and we give it the pointer cursor to show 
   * that it's clickable
   */
  
  .lab {
	
	cursor: pointer;
	font-family: googleSans;
	font-size: 32px;
	color: #4285F4;
	font-style:bold;
	padding :20px;
	padding-top:10px;
  }
  
  
  /*
   * With how I decided to build this, the position: relative is super important.
   * We're going to position a pseudo element within this element(As it is the containing box)
   */
  
   .lab span {
	
	position: relative;
	line-height: 64px;
	text-align:center;
	padding-top :10px;
  }
  
  
  /* 
   * Because we're using pseudo elements, a content property is required to make them appear.
   */
  
   .lab span:before,
   .lab span:after {
	content: '';
	margin-right:20px;
  }
  
  
  /*
   * We are using the :before peudo elemnt as the actual button,
   * then we'll position the :after over it. You could also use a background-image,
   * font-icon, or really anything if you want different styles.
   * For the specific style we're going for, this approach is simply the easiest, but
   * once you understand the concept you can really do it however you like.
   */
  
   .lab span:before {
	border: 3px solid black;
	width: 60px;
	height: 60px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
	border-radius: 20px;
	/* background-color: #CDE4F5; */
  }
  
  .lab span:after {
	background: #4285F4;
	width: 53px;
	height: 53px;
	position: absolute;
	top: 15px;
	left: 7px;
	transition: 300ms;
	opacity: 0;
	border-radius: 14px;
  }
  
  /*
   * This is the most important part of this whole file, if you understand what's happening here
   * you can really make this in so many different ways.
   * 
   * We start by selecting the input inside of the label, with "label input". From there we use the 
   * ":checked" selector to *only* select the input when it is checked. We then use the immediate sibling 
   * selector(+) to select the span, and then it's pseudo element :after(What we are using to mark the button)
   * Because we already styled the :after, all we have to do is set the opacity to 1, making it fade in.
   */
   .lab input:checked+span:after {
	opacity: 1;
  }

