body {    
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  font-family: googleSans;
  -webkit-tap-highlight-color: transparent
}

.logo{
  /* position:absolute; */
  margin:2%;
  width: 5.5%;   
}



/* progress bar */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@600&display=swap');

* {
box-sizing: border-box;
}

:root {
font-size: 62.5%;

--bar-color: rgb(72, 141, 76);
--body-color: #222;
--text-color: white;
--bar-wrap-back-color: rgba(211,233,215);
}


.container {
width : 100%;
padding-left:50%;
padding-right:2%;
margin: 0 auto;
position:absolute;
z-index: 20;
}

.bar-wrap {
margin-top: 0px;
border-radius: 100px;
/* background-color: var(--bar-wrap-back-color); */
background: repeating-linear-gradient(
  90deg,
  rgb(189, 219, 195),
  rgb(189, 219, 195) 50px,
  rgba(211,233,215) 50px,
  rgba(211,233,215) 100px
);
}

.bar {
width: 0%;
height: 20px;

transition: width .5s ease-out;

background-color: var(--bar-color);
border-radius: 100px;
/* box-shadow: inset -1px -1px 10px rgb(0 0 0 / .5); */
}

.line {
margin: 0;

font-size: clamp(1.4rem, 2.5vw, 1.8rem);

color: var(--text-color);
}

.number {
margin-left: 8px;

font-family: 'googleSans';
font-size: clamp(1.8rem, 3vw, 2.2rem);
}

@font-face {
font-family: googleSans;
src: url(fonts/GoogleSans-Medium.ttf);
}

/* dropdown menu */

.regionSelector {
position:absolute;
z-index:100;
left: 52%;
top: 80%;
transform: translate(-50%, -50%);
/* padding: 10px; */
font-family: googleSans;
font-size: 50px;
/* opacity:0; */
transition: 0.3s all ease-in-out;
overflow-y: scroll;
max-height: 85%;
}

.regionSelector.expanded {
	position:absolute;
	z-index:100;
	left: 52%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* padding: 10px; */
	font-family: googleSans;
	font-size: 50px;
	/* opacity:0; */
	transition: 0.3s all ease-in-out;
	max-height: 85%;
	}

.button{
height: 70px;
width: 220px;
margin: 15px;
border-radius: 10px;
border: none;
color: #444;
outline: none;
background-color: #cde4f5;
white-space: nowrap;
font-family: googleSans;
font-size: 40px;
margin-left:30%;
}

.dropdown-el {
min-width: 12em;
position: relative;
display: inline-block;
margin-right: 1em;
min-height: 2em;
max-height: 2em;
overflow: hidden;
cursor: pointer;
text-align: center;
white-space: nowrap;
color: #444;
outline: none;
border-radius: 1em;
background-color: #cde4f5;
transition: 0.3s all ease-in-out;
}
.dropdown-el input:focus + label {
background: #def;
}
.dropdown-el input {
width: 1px;
height: 1px;
display: inline-block;
position: absolute;
opacity: 0.01;
}
.dropdown-el label {
border-top: 0.06em solid #d9d9d9;
display: block;
height: 2em;
line-height: 2em;
cursor: pointer;
position: relative;
transition: 0.3s color ease-in-out;
}
.dropdown-el label:nth-child(2) {
margin-top: 2em;
border-top: 0.06em solid #d9d9d9;
}
.dropdown-el input:checked + label {
display: block;
border-top: none;
position: absolute;
top: 0;
width: 100%;
}
.dropdown-el input:checked + label:nth-child(2) {
margin-top: 0;
position: relative;
}
.dropdown-el::after {
content: "";
position: absolute;
right: 0.8em;
top: 0.9em;
border: 0.3em solid #3694d7;
border-color: #3694d7 transparent transparent transparent;
transition: 0.4s all ease-in-out;
}
.dropdown-el.expanded {
border: 0.06em solid #3694d7;
background: #fff;
border-radius: 0.25em;
padding: 0;
box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
max-height: 30em;
}
.dropdown-el.expanded label {
border-top: 0.06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
color: #3694d7;
}
.dropdown-el.expanded input:checked + label {
color: #3694d7;
}
.dropdown-el.expanded::after {
transform: rotate(-180deg);
top: 0.55em;
}

/* computer selector */

.inputFieldP {
position:absolute;
z-index:100;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

}

.box{
  
}

.inputField {

position:relative;
font-family: googleSans;
font-size: 50px;
color: #444;
border: none;
outline: none;
background-color: #cde4f5;
border-radius: 10px;
padding: 4px;
text-align: center;
height: 100px;
}

.buttonComp{
height: 70px;
width: 220px;
margin: 25px;
border-radius: 10px;
border: none;
color: #444;
outline: none;
background-color: #cde4f5;
white-space: nowrap;
font-family: googleSans;
font-size: 40px;
position: absolute;
top: 140%;
left:45%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}



/* slider */

.sc{
	top:50%;
	left:50%;
	-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
position: absolute;


display: none;
}

.te{
display: flex; 
justify-content: center;
align-items:center;
flex-direction: column;
}

.buttonPerc{
	align-self: center;
	height: 70px;
	width: 220px;
	margin-top: 0px;
	border-radius: 10px;
	border: none;
	color: #444;
	outline: none;
	background-color: #cde4f5;
	white-space: nowrap;
	font-family: googleSans;
	font-size: 40px;
	padding:0px;
	/* position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 54%;
	left: 47%; */
	}

/**
 * Range Slider Container
 */
 .range-slider-container {
	z-index:100;
}

/**
 * Range Slider Block
 */
.range-slider-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

/**
 * Range Sliders
 */
.range-sliders {
	width: 100%;
	background-color: transparent;

}

.range-sliders > *:not(:last-child) {
	margin-bottom: 1.5rem;
}

.range-sliders input[type=range] {
	width: 100%;
	background: linear-gradient(to right, #f00 0%, #f00 50%, rgba(255, 255, 255, 0.521) 50%, rgba(255, 255, 255, 0.521) 100%);
	border-radius: 15px;
	height: 90px;
	outline: none;
	-webkit-appearance: none;
	box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
}

.range-sliders input[type=range]:focus {
	outline: none;
}

.range-sliders input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 0px;
	cursor: pointer;
	box-shadow: none;
	background-color: rgba(255,255,255);
	border-radius: 0;
}

.range-sliders input[type=range]::-moz-range-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	box-shadow: none;
	background-color: rgba(255,255,255);
	border-radius: 0;
}

.range-sliders input[type=range]::-webkit-slider-thumb {
	box-shadow: none;
	height: 90px;
	width: 35px;
	border-color: transparent;
	padding-right: 70px;
	background: linear-gradient(90deg, rgba(211,233,215) 0%, rgba(211,233,215) 20%, rgba(88,168,92,1) 20%, rgba(88,168,92,1) 80%, rgba(255,255,255) 80%);
	cursor: ew-resize;
	-webkit-appearance: none;
  	margin-top: -45px;
	border-radius: 14px;
	
}

.range-sliders input[type=range]::-moz-range-thumb {
	box-shadow: none;
	height: 91px;
	width: 35px;
	
	border-color: transparent;
	background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(8,7,106,0) 20%, rgba(88,168,92,1) 20%, rgba(88,168,92,1) 80%, rgba(9,121,20,0) 80%);
	cursor: ew-resize;
	-webkit-appearance: none;
  margin-top: -45px;
}

.range-sliders input[type=range]::-moz-focus-outer {
	border: 0;
}

.range-sliders input[type=range].range-slider-green {
	background: linear-gradient(to right, rgba(211,233,215) 0%, rgba(211,233,215) 50%, #fff 50%, #fff 100%);
}

.range-sliders input[type=range].range-slider-green::-webkit-slider-runnable-track {
	background-color: rgba(211,233,215);
}

.range-sliders input[type=range].range-slider-green::-moz-range-track {
	background-color: rgba(211,233,215);
}

.range-sliders input[type=range].range-slider-green::-webkit-slider-thumb {
	/* background-color: rgba(88, 168, 92); */
}

.range-sliders input[type=range].range-slider-green::-moz-range-thumb {
	/* background-color: rgba(88, 168, 92); */
}

.range-sliders .input-slider {

margin-left: -300px;
-moz-appearance: textfield;
  font-family: 'googleSans';
  border: none;
  position: absolute;
  background-color: transparent;
  font-size: 50px;
  width:100%;
  overflow: visible;
  color: rgb(68, 129, 72);
  pointer-events: none;
}
.percent {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'googleSans';
  border: none;
  position: absolute;
  background-color: transparent;
  font-size: 50px;
  overflow: visible;
  color: rgb(68, 129, 72);
  margin-left: -230px;
  pointer-events: none;
  background: none !important;
}

.range-sliders .input-slider::-webkit-outer-spin-button,
.range-sliders .input-slider::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.range-sliders .range-slider-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center; 
	justify-content: center;
	text-align: left;
}

.range-sliders .range-slider-group .range-label {
	width: 100%;
	font-size: 1rem;
	right:80%
}

.range-sliders .range-slider-group .range-slider {
	width: calc(100% - 60px);
}

.range-sliders .range-slider-group .input-slider {
	width: 150px;
}
@media (min-width: 576px) {

	.range-sliders {
		width: 650px;
		padding: 3rem;
	}
}



.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

